@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  /* max-width: 1440px; */
}

.container-1000 {
  max-width: 1000px;
  margin: auto;
}

/* header start */
header > .row > .container > ul {
  list-style-type: none;
  display: flex;
  padding: 20px 0 20px 0;
}

header > .row > .container > ul > li {
  margin-right: 20px;
}

header > .row > .container > ul > li > a {
  display: block;
  text-decoration: none;
  color: #357068;
  font-size: 14px;
  list-style: 60px;
}

/* header end */
.img-fluid {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

#banner {
  padding: 20px;
}

#banner p {
  padding-top: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

main > .container-1000 {
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

h3 {
  font-size: 24px;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 40px;
}

h3 > span {
  position: relative;
}

h3 > span::before {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  top: 0;
  left: -50px;
  transform: translateY(-120%);
  padding-top: 35px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/flower.png");
}

main > .container-1000 > p {
  font-size: 24px;
  text-align: center;
}

footer {
  margin-top: 100px;
  background-color: #8fb9b4;
  padding: 40px 0 40px 0;
}

footer > .container > .row > .col-3 > dt {
  color: #fff;
  font-size: 16px;
}

dd {
  color: white;
}

dd > a {
  text-decoration: none;
  color: white;
}

/* //////////////////////// */
/* 不同裝置 */
/* //////////////////////// */
@media (max-width: 767px) {
  header {
    position: relative;
    height: 130px;
    padding-top: 20px;
  }

  header > a > img {
    position: absolute;
    padding-top: 0px;
  }

  .flex-space-between {
    justify-content: space-between;
  }

  .icon-menu {
    width: 12%;
    display: block;
    border: 1px solid #357068;
    color: #357068;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 45%;
    right: 7%;
  }

  header > .row > .container {
    width: 100%;
    position: absolute;
    top: 90%;
    background-color: #357068;
    z-index: 10;
  }

  header > .row > .container > ul {
    display: flex;
    flex-wrap: wrap;
  }

  header li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b5b0b0;
    line-height: 50px;
  }

  header > .row > .container > ul > li > a {
    text-decoration: none;
    color: white;
  }

  header > .row > .container {
    display: none;
  }

  header > .row > .container.active {
    display: block;
  }

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
    width: 200px;
    height: 225px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .col-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 768px) {
  header {
    position: relative;
    height: 185px;
  }

  header > a > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 185px;
    padding-top: 10px;
  }

  header > .row > .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  header > .row > .container > ul > li {
    padding-top: 110px;
    margin-left: 45px;
    margin-right: 35px;
  }

  .icon-menu {
    display: none;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px;
  }
}
@media (min-width: 1200px) {
  header {
    position: relative;
    height: 185px;
  }

  header > .row > a > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 185px;
    padding-top: 10px;
  }

  header > .row > .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  header > .row > .container > ul > li {
    padding-top: 110px;
    margin-left: 45px;
    margin-right: 35px;
  }

  .icon-menu {
    display: none;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px;
  }
}